@charset 'utf-8';
@import '_css3-mixins';
$red:#c4201f;
.slick-dots {
    li {
        width: 50px;
        height: 5px;
        margin: 0 3.5px;vertical-align:bottom;
        button {
            position: absolute;bottom: 0;width:100%;background: #fff;@include transition;
        }
        &.slick-active {
            button{background: $red;height:5px}
        }
        &:not(.slick-active){
            button{height:2px;}
        }
    }
}
.slick-list {
    height: 100%;
    .slick-track {
        height: 100%;
    }
}
.slick-arrow {
    @include transition;
    transform: translateZ(0);
    position: absolute;
    top: 0;left:auto;
    margin: 0;
    z-index: 99;
    &.slick-disabled {@include opacity(.3);pointer-events:none}
    &:before,&:after {
        position: absolute;
        left: 50%;
        top: 50%;content:'';
        width:12px;height:2px;background:#333;
    }
    &:before{margin-top:-3.5px;}
    &:after{margin-top:3.5px}
    @media screen and(max-width: 767px) {
        width: 35px;
        height: 35px;
        &:before {
            font-size: 14px;
            line-height: 24px;
        }
    }
}
.slick-prev,.slick-next{
    width: 50px;
    height: 50px;
}
.slick-prev {left:0;
    &:before,&:after{margin-left:-1px}
    &:before{
        @include prefix('transform',translate(-50%,-50%) rotate(-45deg));
    }
    &:after{
        @include prefix('transform',translate(-50%,-50%) rotate(45deg));
    }
}
.slick-next {right:0;
    &:before,&:after{margin-left:1px}
    &:before{
        @include prefix('transform',translate(-50%,-50%) rotate(45deg));
    }
    &:after{
        @include prefix('transform',translate(-50%,-50%) rotate(-45deg));
    }
}
@media (max-width:600px){
    .slick-dots li{width:35px;height:4px}
}
@media(hover:hover) and (pointer:fine) {
    .slick-arrow{
        &:hover{@include prefix('transform', scale(1,1)!important);}
        &:hover {
            &:not(.slick-disabled) {
                transform-origin: center;
                background: #c8000a;
                @include scale(1.1,1.1);
            }
        }
    }
    .history .slick-arrow{
        &:hover{@include prefix('transform', scale(1,1)!important)}
    }
    .slick-dots li:hover{
        button{
            background: $red;height:5px;
        }
    }
}