@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap");
@import url(../fontawesome-free-5.15.1-web/css/all.min.css);
@import url(plugin.css);
body {
  font-family: lato, "Noto Sans TC", Arial, Helvetica, "LiHei Pro", "微軟正黑體";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a {
  color: #000;
}

:focus {
  outline: none;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
a[href^=tel]:hover {
  color: #364e27;
}

::-webkit-input-placeholder {
  /* CSS 3 標準 */
  color: #364e27;
}

::-moz-placeholder {
  /* CSS 3 標準 */
  color: #364e27;
}

:-ms-input-placeholder {
  /* CSS 3 標準 */
  color: #364e27;
}

::-ms-input-placeholder {
  /* CSS 3 標準 */
  color: #364e27;
}

::placeholder {
  /* CSS 3 標準 */
  color: #364e27;
}

::-webkit-input-placeholder {
  /* Chrome, Safari */
  color: #000;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #364e27;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #364e27;
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(192, 192, 192, 0.2) inset;
  /*淡淡的白*/
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  /*透明*/
  -webkit-text-fill-color: #000;
  /*字體顏色*/
}

input,
select,
textarea {
  outline: none;
}
input:focus,
select:focus,
textarea:focus {
  border: #364e27 1px solid;
}

input,
textarea {
  padding: 0 5px;
}

textarea {
  padding: 5px;
}

input:not([type=button]):focus,
textarea:focus {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0;
}

button {
  cursor: pointer;
}

input:not([type=checkbox]):not([type=radio]),
textarea:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #364e27;
}

input:focus::placeholder,
textarea:focus::placeholder,
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #364e27;
}

@media screen and (max-width: 480px) {
  input,
select,
textarea {
    font-size: 16px !important;
  }
}
input[type=radio]:checked:after {
  border: 1px solid #0075ff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

select {
  min-height: 35px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.hide {
  display: none;
}

@-webkit-keyframes slideInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6%, 0);
            transform: translate3d(0, -6%, 0);
    visibility: visible;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -6%, 0);
            transform: translate3d(0, -6%, 0);
    visibility: visible;
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.user_editor {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: static;
  overflow-x: auto;
}
.user_editor .u-red {
  color: #364e27;
}
.user_editor a.u-red {
  text-decoration: underline;
}

.user_editor img {
  max-width: 100%;
  height: auto !important;
}

.user_editor table {
  width: 100%;
}

.show-1200,
.show-1024,
.show-800,
.show-768 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .show-1024 {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .show-800 {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .show-768 {
    display: inline-block;
  }
}
@media screen and (max-width: 1200px) {
  .show-1200 {
    display: inline-block;
  }
}
.hide-768,
.hide-1024,
.hide-1200 {
  display: block;
}

@media screen and (max-width: 1024px) {
  .hide-1024 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hide-768 {
    display: none;
  }
}
@media screen and (max-width: 1201px) {
  .hide-1200 {
    display: none;
  }
}
.one-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.three-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.inner {
  max-width: 1375px;
  display: block;
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .inner {
    max-width: calc(100% - 60px);
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
header.i-menu-line {
  border-bottom: 1px solid #e8e8e8;
}
@media screen and (max-width: 1600px) {
  header.i-menu-line {
    border: 0;
  }
}
header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 100%;
  margin: auto;
  padding: 25px 2.5% 20px;
}
header .logo {
  max-height: 74px;
  width: calc(100% - 550px);
  margin-right: 40px;
}
header .logo img {
  max-height: 74px;
}
header .logo a {
  display: block;
}
@media screen and (max-width: 768px) {
  header .logo {
    width: calc(100%);
  }
}
header.h-w {
  background: rgba(255, 255, 255, 0.85);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.h-w .inner {
  padding: 15px 2.5% 15px;
}
@media screen and (min-width: 1024px) {
  header.h-w .logo img {
    max-height: 55px;
  }
}
header .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu-nav .fas {
  display: none;
}
header .menu-nav .f-share {
  display: none;
  margin: 40px auto;
  position: relative;
  padding: 0 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .menu-nav .f-share img {
  width: 22px;
}
@media screen and (max-width: 371px) {
  header .menu-nav .f-share {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
header .menu-nav .f-share:before {
  content: "Follw Us";
  color: #f6bc47;
  font-size: 16px;
  text-align: center;
  display: block;
  position: absolute;
  left: 20px;
  top: 50px;
}
@media screen and (max-width: 370px) {
  header .menu-nav .f-share:before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  header .menu-nav a {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #666;
    white-space: nowrap;
    padding: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  header .menu-nav {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 350px;
    background: rgba(54, 78, 39, 0.97);
    right: 0;
    top: 0px;
    padding: 80px 0 50px;
    height: calc(100%);
    overflow: scroll;
    -webkit-animation: fadeIn 100ms ease;
    -moz-animation: fadeIn 100ms ease;
    -ms-animation: fadeIn 100ms ease;
  }
  header .menu-nav a {
    display: none;
    color: #fff;
    padding: 25px;
    margin-left: 0;
    letter-spacing: 2px;
    -webkit-animation: fadeInUp 500ms ease;
    -moz-animation: fadeInUp 500ms ease;
    -ms-animation: fadeInUp 500ms ease;
  }
  header .menu-nav > a .fas {
    float: right;
    /* font-size: 20px; */
    margin-top: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .menu-nav .f-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #f6bc47;
    margin-top: 50px;
    padding-top: 32px;
  }
  header .menu-nav .f-share a {
    padding: 15px;
  }
}
@media screen and (max-width: 768px) {
  header .menu-nav {
    max-width: 100%;
  }
}
header .search {
  min-width: 22px;
  position: relative;
  top: 0px;
  right: 7px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}
header .search:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .search img {
  width: 100%;
  width: 22px;
}
header .search .close {
  display: none;
  position: absolute;
  top: -2px;
  left: 12px;
}
header .search .close span:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #364e27;
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 16px;
}
header .search .close span:after {
  content: "";
  width: 1px;
  height: 16px;
  background: #364e27;
  display: block;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: 0px;
}
@media screen and (max-width: 1160px) {
  header .search .close span:before {
    width: 2px;
    height: 20px;
    top: 16px;
  }
  header .search .close span:after {
    width: 2px;
    height: 20px;
    top: -4px;
  }
}
header .search-bar {
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
  margin-left: -10px;
}
header .search-bar input {
  width: 100%;
  border: 0;
  padding: 14px 0;
  border-bottom: 1px solid #364e27;
  font-size: 14px;
  background: transparent;
  border-radius: 0;
}
@media screen and (min-width: 1160px) {
  header .search-bar {
    max-width: 250px;
  }
}
header .search-bar.open {
  width: 100%;
}
header .search-bar.open form {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1160px) {
  header .search-bar {
    position: absolute;
    top: 120px;
    margin: 0;
    background: #f6bc47;
    display: none;
    padding: 30px 20px 25px;
    right: 0;
    border-bottom: 5px solid #364e27;
  }
  header .search-bar.open {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header .search {
    right: 55px;
    top: -2px;
  }
}
@media screen and (max-width: 1160px) {
  header.h-w .search-bar {
    top: 86px;
  }
}
@media screen and (max-width: 1024px) {
  header.h-w .search-bar,
header .search-bar {
    top: 64px;
  }
  header .logo img {
    max-height: 45px;
  }
  header .menu-nav a {
    font-size: 16px;
  }
  header .menu-nav .menu-a > a {
    text-align: left;
  }
  header .menu-nav .menu-a > a .fas {
    opacity: 0;
  }
  header.h-w .inner,
header .inner {
    padding: 10px 2.5% 10px;
  }
}
@media screen and (min-width: 768px) {
  header .menu-a {
    position: relative;
    margin-right: 58px;
  }
  header .menu-a:hover > a {
    color: #364e27;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .menu-a:hover > a:before {
    content: "";
    width: 46px;
    height: 30px;
    background: url(../images/light.svg);
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    top: -10px;
    left: calc(50% - 23px);
  }
  header .menu-a .menu-drop {
    display: none;
    position: absolute;
    padding: 5px;
    width: 150px;
    left: calc(50% - 75px);
    text-align: center;
    background: #f6bc47;
    -webkit-animation: slideInUp 500ms ease;
    -moz-animation: slideInUp 500ms ease;
    -ms-animation: slideInUp 500ms ease;
  }
  header .menu-a .menu-drop a {
    display: block;
    padding: 10px 5px;
    color: #fff;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 300;
  }
  header .menu-a .menu-drop a:hover {
    color: #364e27;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .menu-a:hover .menu-drop {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header .menu-a > a:not(.no-drop) {
    pointer-events: none;
  }
  header .menu-a > a:not(.no-drop) .fas {
    opacity: 1;
  }
  header .open + .menu-nav {
    display: block;
  }
  header .open + .menu-nav a {
    display: block;
  }
  header .open + .menu-nav a a {
    display: inline-block;
    padding: 0;
    border: 0;
  }
  header .nav-bar {
    position: absolute;
    width: 25px;
    right: 15px;
    padding: 0px;
    height: 40px;
    cursor: pointer;
    padding-top: 0px;
    z-index: 1;
  }
  header .nav-bar span {
    display: block;
    width: 100%;
    border-bottom: 3px solid #364e27;
    margin: 6px 0;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-animation: menu-bar 0.8s forwards;
            animation: menu-bar 0.8s forwards;
    border-radius: 99px;
  }
  header .nav-bar span:first-of-type {
    -webkit-animation: menu-bar01 0.8s forwards;
            animation: menu-bar01 0.8s forwards;
  }
  header .nav-bar span:nth-of-type(2) {
    width: 80%;
    position: relative;
    left: 20%;
    border-color: #f6bc47;
  }
  header .nav-bar span:last-of-type {
    -webkit-animation: menu-bar02 0.8s forwards;
            animation: menu-bar02 0.8s forwards;
    position: relative;
  }
  header .nav-bar.open span {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-color: #f6bc47;
    z-index: 9;
  }
  header .nav-bar.open span:first-of-type {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-animation: active-bar01 0.8s forwards;
            animation: active-bar01 0.8s forwards;
    opacity: 1;
    position: relative;
    top: 4px;
  }
  header .nav-bar.open span:last-of-type {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-animation: active-bar02 0.8s forwards;
            animation: active-bar02 0.8s forwards;
    opacity: 1;
    position: relative;
    top: -9px;
  }
  header .menu-nav .menu-a {
    position: relative;
  }
  header .menu-nav .menu-a .fas {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    right: 25px;
    top: 34px;
  }
  header .menu-nav .menu-a a {
    font-size: 20px;
  }
  header .menu-nav .menu-drop {
    display: none;
    padding: 10px;
    background: #f6bc47;
  }
  header .menu-nav .menu-drop a {
    color: #000;
    font-size: 15px;
    padding: 13px 30px;
    font-weight: 300;
  }
}
@media screen and (max-width: 480px) {
  header .menu-nav .footer .f-link {
    max-width: 100%;
    margin: 0;
  }
  header .menu-nav .footer .f-link a {
    text-align: left;
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
    visibility: visible;
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(2.5px) rotate(45deg);
            transform: translateY(2.5px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(2.5px) rotate(0);
            transform: translateY(2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(2.5px) rotate(45deg);
            transform: translateY(2.5px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(2.5px) rotate(0);
            transform: translateY(2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-2.5px) rotate(-45deg);
            transform: translateY(-2.5px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-2.5px) rotate(0);
            transform: translateY(-2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-2.5px) rotate(-45deg);
            transform: translateY(-2.5px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-2.5px) rotate(0);
            transform: translateY(-2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes active-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(2.5px) rotate(0);
            transform: translateY(2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(2.5px) rotate(45deg);
            transform: translateY(2.5px) rotate(45deg);
  }
}
@keyframes active-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(2.5px) rotate(0);
            transform: translateY(2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(2.5px) rotate(45deg);
            transform: translateY(2.5px) rotate(45deg);
  }
}
@-webkit-keyframes active-bar02 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-2.5px) rotate(0);
            transform: translateY(-2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-2.5px) rotate(-45deg);
            transform: translateY(-2.5px) rotate(-45deg);
  }
}
@keyframes active-bar02 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-2.5px) rotate(0);
            transform: translateY(-2.5px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-2.5px) rotate(-45deg);
            transform: translateY(-2.5px) rotate(-45deg);
  }
}
@media screen and (max-width: 768px) {
  .mask-bg {
    display: none;
    position: fixed;
    background: rgba(92, 92, 92, 0.47);
    z-index: 98;
    width: 100%;
    height: calc(100% - 65px);
    left: 0;
    bottom: 0;
  }
}

.user_editor {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: static !important;
  overflow-x: auto;
  line-height: 28px;
}
.user_editor table {
  width: 100% !important;
}
.user_editor img {
  max-width: 100%;
}
.user_editor .title {
  font-size: 32px;
  margin: 0 0 35px;
  font-family: Times New Roman;
  font-weight: 700;
  text-transform: uppercase;
}
.user_editor .title span {
  color: #364e27;
  margin-right: 10px;
}

.index-banner img {
  width: 100%;
}
.index-banner .slick-dots {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.index-banner .slick-dots li {
  margin: 7px 0;
}
.index-banner .slick-dots li button {
  border: 1px solid #364e27;
  background: transparent;
  padding: 5px;
}
.index-banner .slick-dots li.slick-active button {
  background: #364e27;
}
@media screen and (max-width: 768px) {
  .index-banner .slick-dots {
    right: 10px;
  }
  .index-banner .slick-dots li button {
    padding: 3px;
  }
}

.index-tabs {
  position: fixed;
  left: 3.6%;
  top: 19%;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
  text-align: left;
  z-index: 1;
}
.index-tabs-item a {
  color: transparent;
  font-size: 14px;
  margin-bottom: 5px;
}
.index-tabs-item li {
  position: relative;
  margin-bottom: 10px;
}
.index-tabs-item li a:after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ccc;
  position: absolute;
  right: -22px;
  top: 28%;
  -webkit-transform: translateY(-28%);
          transform: translateY(-28%);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.index-tabs-item li a.active {
  color: #364e27;
}
.index-tabs-item li a.active:after {
  background: #f6bc47;
  border: 1px solid #f6bc47;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
@media screen and (max-width: 1600px) {
  .index-tabs {
    display: none !important;
  }
}

.content-wrap .inner {
  max-width: 1375px;
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .content-wrap .inner {
    max-width: calc(100% - 60px);
  }
}

.index-title {
  position: relative;
  margin-top: 8.2em;
  letter-spacing: 0;
}
.index-title .en {
  font-size: 48px;
  color: #f6bc47;
  font-weight: 300;
}
.index-title h2 {
  font-size: 24px;
  color: #364e27;
}
.index-title:after {
  content: "";
  background: url(../images/six.svg);
  position: absolute;
  height: 125px;
  width: 158px;
  top: -59px;
  left: -35px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .index-title {
    text-align: center;
    margin-top: 5.2em;
  }
}
.index-text {
  margin-top: 28px;
  margin-bottom: 4%;
  color: #666;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .index-text {
    text-align: center;
  }
}

.s-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-item .item {
  width: 25%;
  font-size: 24px;
  text-align: center;
  display: block;
}
.s-item .item .en {
  font-size: 16px;
  color: #ccc;
  display: block;
  margin-top: 5px;
}
.s-item .item:hover {
  color: #364e27;
}
.s-item .item:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}
.s-item .item:hover .en {
  color: #364e27;
  opacity: 0.5;
}
.s-item img {
  max-width: 185px;
  margin: 50px auto 45px;
  display: block;
}
@media screen and (max-width: 1400px) {
  .s-item .item {
    font-size: 20px;
  }
  .s-item img {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .s-item .item {
    width: 50%;
  }
  .s-item img {
    margin-top: 40px;
    width: 50%;
    margin-bottom: 20px;
  }
}

.i-work {
  background: #fdf9ee;
  position: relative;
  padding: 100px 0;
  margin-top: 7%;
}
.i-work .index-title {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 47px;
  margin-top: 0;
}
.i-work .index-title:after {
  display: none;
}
.i-work:before {
  content: "";
  background: url(../images/i-w-bg.svg);
  width: 18vw;
  height: 17vw;
  position: absolute;
  background-repeat: no-repeat;
  right: 0px;
  top: -37px;
  opacity: 0.4;
}
@media screen and (max-width: 768px) {
  .i-work {
    margin-top: 12%;
    padding: 75px 0;
  }
  .i-work .index-title {
    margin-bottom: 30px;
  }
  .i-work:before {
    width: 30vw;
    height: 32vw;
  }
}

.w-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1025px) {
  .w-item .w-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    width: 80%;
    line-height: 1.6;
    letter-spacing: 1px;
  }
  .w-item .w-text span {
    display: block;
    padding: 10px 0;
  }
  .w-item .w-text span:first-of-type {
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    top: -10px;
  }
  .w-item .w-text span:last-of-type {
    font-size: 14px;
    opacity: 0.8;
    position: relative;
    bottom: -20px;
  }
}
@media screen and (max-width: 1024px) {
  .w-item .w-text {
    color: #000;
    display: block;
    text-align: left;
  }
  .w-item .w-text span {
    display: block;
    margin: 10px 0 5px;
    font-weight: 400;
  }
  .w-item .w-text span:last-of-type {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    margin: 0 0 20px;
  }
}
.w-item a {
  background: #364e27;
  position: relative;
  color: #fff;
  line-height: 0;
}
@media screen and (min-width: 769px) {
  .i-work .w-item a {
    width: calc((100% - 30px) / 3);
    display: block;
    margin: 0 15px 15px 0;
  }
  .i-work .w-item a:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .i-work .w-item a {
    width: calc((100% - 30px) / 2);
    display: block;
    margin: 0 30px 30px 0;
    background: transparent;
  }
  .i-work .w-item a img {
    display: block;
  }
  .i-work .w-item a:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 460px) {
  .i-work .w-item a {
    width: 100%;
    margin: 10px 0;
  }
}
.center-content .w-item a {
  display: block;
}
@media screen and (min-width: 768px) {
  .center-content .w-item a {
    width: calc((100% - 40px) / 3);
    margin: 0 20px 20px 0;
  }
  .center-content .w-item a:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .center-content .w-item a {
    width: calc((100% - 30px) / 4);
    margin: 0 10px 10px 0;
  }
  .center-content .w-item a:nth-of-type(3n) {
    margin-right: 0;
    margin: 0 10px 10px 0;
  }
  .center-content .w-item a:nth-of-type(4n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .center-content .w-item a {
    width: calc((100% - 30px) / 2);
    display: block;
    margin: 0 30px 30px 0;
    background: transparent;
  }
  .center-content .w-item a img {
    display: block;
  }
  .center-content .w-item a:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 460px) {
  .center-content .w-item a {
    width: 100%;
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .w-item a:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 5px #364e27;
            box-shadow: 0 0 0 5px #364e27;
  }
  .w-item a:hover img {
    opacity: 0.1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .w-item a:hover .w-text {
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 16px;
    padding: 5px 0;
  }
  .w-item a:hover .w-text span {
    display: block;
    padding: 10px 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .w-item a:hover .w-text span:first-of-type {
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    -webkit-transition: border 10s, top 0.2s;
    transition: border 10s, top 0.2s;
  }
  .w-item a:hover .w-text span:last-of-type {
    font-size: 15px;
    opacity: 0.6;
    bottom: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media screen and (max-width: 1024px) {
  .w-item a {
    line-height: 1.6;
    background: transparent;
  }
}

.more-btn {
  color: #fff;
  background: #f6bc47;
  font-size: 15px;
  text-align: center;
  max-width: 190px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 15px;
  margin-top: 65px;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 0 #364e27;
          box-shadow: inset 0 0 0 0 #364e27;
}
.more-btn:hover {
  color: #fff;
  -webkit-box-shadow: inset 500px 0 0 0 #364e27;
          box-shadow: inset 500px 0 0 0 #364e27;
}
@media screen and (max-width: 460px) {
  .more-btn {
    margin-top: 40px;
  }
}

.i-about {
  background: url("../images/a-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.i-about .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.i-about .inner + img {
  margin: auto;
  display: block;
}
.i-about-pic {
  width: 50%;
  padding-top: 7%;
}
.i-about-text {
  width: 50%;
  padding: 0% 8%;
}
.i-about-text + img {
  margin: auto;
  display: block;
}
.i-about .index-title {
  margin-bottom: 50px;
}
.i-about .index-text {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}
.i-about .more-btn {
  margin: 12% 0;
  border: 1px solid #ccc;
  color: #000;
  background: #fff;
}
.i-about .more-btn:hover {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .i-about {
    background: none;
  }
  .i-about .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .i-about-pic {
    width: 88%;
    margin: auto;
  }
  .i-about-text {
    width: 100%;
    padding: 0;
  }
  .i-about .more-btn {
    margin: 12% auto;
  }
}

.i-clients {
  margin-bottom: 4.5%;
}
.i-clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.i-clients-item a {
  width: 20%;
  margin-bottom: 35px;
}
.i-clients-item a:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.i-clients-item img {
  max-height: 100px;
  margin: auto;
  display: block;
}
.i-clients .index-title {
  margin-top: 6.2em;
}
.i-clients .index-text {
  margin-bottom: 6%;
}
@media screen and (max-width: 1024px) {
  .i-clients-item {
    margin-top: 3.2em;
  }
  .i-clients-item a {
    width: 20%;
    margin-bottom: 50px;
  }
  .i-clients-item img {
    max-height: 70px;
  }
  .i-clients .index-title {
    margin-top: 5.2em;
  }
}
@media screen and (max-width: 768px) {
  .i-clients-item a {
    width: 33%;
  }
  .i-clients-item a:nth-of-type(10) {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .i-clients-item {
    margin-top: 3.2em;
  }
  .i-clients-item a {
    width: 50%;
  }
  .i-clients-item img {
    max-height: 70px;
    max-width: 70%;
  }
}

footer {
  background: #f7f6f4;
  padding: 58px 0;
}

.footer .inner {
  max-width: 90%;
}
.footer .logo {
  color: #364e27;
  font-size: 24px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .logo img {
  max-height: 60px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .footer .logo {
    font-size: 20px;
  }
  .footer .logo img {
    max-height: 50px;
  }
}
.footer .f-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .f-share a {
  margin-left: 20px;
}
.footer .f-share img {
  width: 25px;
  height: 25px;
  -webkit-filter: grayscale(1) invert(1) contrast(0);
  filter: grayscale(1) invert(1) contrast(0);
  opacity: 0.8;
}
.footer .f-share img:hover {
  -webkit-filter: grayscale(0) invert(0) contrast(1);
          filter: grayscale(0) invert(0) contrast(1);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .footer .f-share {
    display: none;
  }
}
.footer .f-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .f-info li {
  margin-right: 45px;
  color: #666;
}
.footer .f-info img {
  height: 20px;
  opacity: 0.3;
  margin-right: 5px;
}
.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
@media screen and (max-width: 600px) {
  .footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-bottom .copyright {
    text-align: left;
    margin-top: 20px;
  }
  .footer .footer-bottom .copyright span {
    margin-left: 0;
  }
  .footer .footer-bottom .copyright a {
    margin-bottom: 20px;
  }
}
.footer .copyright {
  font-size: 14px;
  color: #666;
}
.footer .copyright span {
  color: #929291;
  margin-left: 27px;
}
.footer .copyright a:hover {
  text-decoration: underline;
  color: #364e27;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .footer .f-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .f-info li {
    margin-bottom: 15px;
  }
  .footer .copyright {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .copyright a {
    margin-bottom: 30px;
  }
}

.go-top {
  position: fixed;
  cursor: pointer;
  right: -40px;
  bottom: 100px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  font-size: 16px;
  font-family: arial;
  text-align: right;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #666;
}
.go-top:before {
  content: "";
  width: 100px;
  height: 1px;
  display: block;
  background: #ccc;
  position: absolute;
  right: 60px;
  top: 50%;
}
.go-top:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
}
.go-top:hover {
  color: #f6bc47;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.go-top:hover:after, .go-top:hover:before {
  background: #f6bc47;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .go-top {
    right: -50px;
    bottom: 100px;
  }
}

.page-banner {
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.page-banner img {
  width: 100%;
}
.page-banner-text {
  max-width: 900px;
  width: 100%;
  position: absolute;
  top: 41%;
  left: 28%;
  font-size: 38px;
}
.page-banner-text h1 {
  color: #000;
  position: relative;
  z-index: 1;
  font-size: 60px;
  letter-spacing: 3px;
}
.page-banner-text span {
  color: #f6bc47;
  margin-left: 105px;
  position: relative;
}
.page-banner-text span:before {
  content: "/////";
  font-size: 22px;
  position: absolute;
  left: -58px;
  top: 15px;
  opacity: 0.5;
  letter-spacing: 2px;
}
.page-banner-text:before {
  content: "";
  background: url(../images/b-six.svg);
  width: 450px;
  height: 450px;
  position: absolute;
  top: -38px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  left: -7%;
}
@media screen and (min-width: 1400px) {
  .page-banner + .inner {
    max-width: 100%;
    padding: 0 2.5%;
  }
}
@media screen and (max-width: 1024px) {
  .page-banner-text {
    top: 43%;
    left: 10%;
    font-size: 30px;
  }
  .page-banner-text h1 {
    font-size: 35px;
  }
  .page-banner-text span {
    margin-left: 80px;
  }
  .page-banner-text span:before {
    font-size: 17px;
    top: 9px;
    left: -44px;
  }
}
@media screen and (max-width: 768px) {
  .page-banner {
    height: 200px;
  }
  .page-banner img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  .page-banner-text h1 {
    font-size: 33px;
  }
  .page-banner-text span {
    font-size: 25px;
    top: -8px;
  }
}

.in {
  opacity: 0.5;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
}
.in.fade-in {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.bread {
  color: #000;
  font-size: 12px;
  margin: 30px auto 20px;
  text-align: right;
}
.bread a {
  color: #bbb;
}
.bread a:last-of-type {
  color: #364e27;
}
.bread-space {
  margin: 0 20px;
  color: #bbb;
  position: relative;
  display: inline-block;
}
.bread-space:before {
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background: #ccc;
  position: absolute;
  top: -5px;
  left: -12px;
}
@media screen and (max-width: 768px) {
  .bread {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  .bread {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .nav-class {
    text-align: center;
    border-bottom: 5px solid #f7f6f4;
    padding: 30px 0 45px;
    position: sticky;
    top: 65px;
    background: rgba(255, 255, 255, 0.85);
    z-index: 1;
  }
  .nav-class li {
    display: inline-block;
    position: relative;
  }
  .nav-class li a {
    padding: 20px 25px;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
  }
  .nav-class li:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f6bc47;
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    top: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
  }
  .nav-class li.active, .nav-class li:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-class li.active a, .nav-class li:hover a {
    color: #364e27;
  }
  .nav-class li.active:before, .nav-class li:hover:before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f6bc47;
    display: block;
    position: absolute;
    left: calc(50% - 25px);
    top: -12px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .nav-class {
    top: 85px;
  }
}

.center-content {
  text-align: center;
  padding: 50px 0;
  font-size: 16px;
  color: #000;
  line-height: 1.6;
  font-weight: 300;
}
.center-content .main-title {
  font-size: 30px;
  color: #364e27;
  position: relative;
  margin-top: 35px;
  margin-bottom: 30px;
}
.center-content .main-title:after {
  content: "";
  width: 30px;
  height: 1px;
  background: #f6bc47;
  display: block;
  position: absolute;
  left: calc(50% - 15px);
  margin: 20px 0;
}
.center-content.about-bg {
  background: url("../images/about-bg.svg");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: bottom center;
  padding-bottom: 300px;
}
@media screen and (max-width: 480px) {
  .center-content.about-bg {
    background-size: 80%;
    padding-bottom: 45%;
  }
}
@media screen and (max-width: 769px) {
  .center-content {
    padding-top: 0;
  }
}
@media screen and (min-width: 769px) {
  .center-content .w-item {
    margin: auto;
    padding: 0 2.5%;
  }
}
@media screen and (max-width: 768px) {
  .center-content .w-item {
    max-width: calc(100% - 60px);
    margin: auto;
  }
}
.center-content.work-view {
  padding-top: 0;
  max-width: 90%;
  margin: auto;
}
.center-content.work-view .main-title {
  margin-top: 0;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .page-banner.hide-768 + .inner {
    margin-top: 100px;
  }
}
.more-title {
  color: #000;
  font-size: 18px;
  margin: 10% auto 0;
  letter-spacing: 2px;
  font-weight: 500;
  position: relative;
}
.more-title:before {
  content: "";
  display: block;
  position: absolute;
  top: -60px;
  width: 1px;
  height: 45px;
  left: 50%;
  background: #9b9b9b;
}
.more-title + .work .w-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.more-title + .work .w-item + .more-btn {
  margin-top: 8%;
}
@media screen and (max-width: 768px) {
  .more-title {
    margin: 120px auto 30px;
  }
}

.page-number {
  margin: 50px auto;
}
.page-number a {
  padding: 5px 9px;
  font-size: 14px;
  margin: 0 3px;
  border-radius: 50%;
  font-family: arial;
}
.page-number a.active {
  background: #364e27;
  color: #fff;
}
.page-number a:hover {
  background: #f6bc47;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-box {
  padding: 50px 0;
  position: relative;
}
.contact-box:before {
  content: "";
  background: url(../images/i-w-bg.svg);
  background-position: 20px 0;
  width: 18.9vw;
  height: 16.4vw;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.2;
  bottom: 10%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
  .contact-box:before {
    width: 195px;
    height: 150px;
    bottom: 4%;
  }
}
.contact-box .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-box .logo {
  margin-bottom: 12px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 22px;
}
.contact-box .f-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  font-weight: 300;
}
.contact-box .f-info li {
  margin: 8px 0;
  color: #000;
}
.contact-box .f-info img {
  margin-right: 15px;
}
.contact-box .code-img img {
  max-width: 150px;
  cursor: pointer;
}
.contact-box .code-img-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: calc(100% - 80px);
}
.contact-left {
  width: 32%;
  margin-right: 3%;
}
.contact-right {
  width: 65%;
  max-width: 800px;
  padding: 0 8%;
  border-left: 1px solid #f8efc5;
}
.contact-right .directions {
  font-size: 16px;
  color: #000;
  margin-bottom: 50px;
}
.contact-right .directions span {
  color: #f6bc47;
}
.contact-right .form-g {
  margin-bottom: 30px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}
.contact-right .form-g label {
  min-width: 80px;
  display: inline-block;
  color: #666;
}
.contact-right .form-g input {
  border: 0;
  border-bottom: 1px solid #ccc;
  line-height: 35px;
  width: calc(100% - 80px);
  border-radius: 0;
}
.contact-right .form-g textarea {
  width: calc(100% - 80px);
  min-height: 90px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
.contact-right .form-g span {
  color: #f6bc47;
}
.contact-right .more-btn {
  border: 0;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .contact-box {
    padding-top: 30px;
  }
  .contact-box .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-left {
    width: 100%;
    margin-bottom: 50px;
    display: none;
  }
  .contact-right {
    width: 100%;
    border: 0;
  }
  .contact .inner {
    max-width: calc(100% - 60px);
  }
}
@media screen and (max-width: 600px) {
  .contact-right {
    padding: 0;
  }
}
@media screen and (max-width: 420px) {
  .contact-box .code-img input {
    width: 100%;
  }
  .contact-box .code-img-r {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-box .code-img-r img {
    margin-top: 10px;
  }
}

.service-content {
  padding: 20px;
}
.service-content .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service-menu {
  width: 25%;
  margin-bottom: 40px;
}
.service-menu a {
  padding: 15px;
  display: block;
  background: #f1f1f1;
  margin-bottom: 2px;
  color: #444;
}
.service-menu a.active {
  background: #f6bc47;
  color: #000;
}
@media screen and (min-width: 1024px) {
  .service-menu a:hover {
    color: #fff;
    background: #364e27;
    border-left: 5px solid #f6bc47;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
.service-view {
  width: 68%;
  font-weight: 300;
  line-height: 1.6;
}
.service-view h2 {
  font-size: 24px;
  color: #364e27;
  padding-bottom: 10px;
  border-bottom: 1px solid #f6bc47;
  margin-bottom: 80px;
  font-weight: 400;
}
@media screen and (max-width: 769px) {
  .service-content .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
  .service-content .inner .m-page-menu {
    width: 100%;
    max-width: 100%;
  }
  .service-menu {
    width: 100%;
  }
  .service-view {
    width: 100%;
  }
}

.privacy-box {
  padding: 0 20px 9%;
  position: relative;
}
.privacy-box .user_editor {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}
.privacy-box:after {
  content: "";
  display: block;
  width: 400px;
  height: 300px;
  background: url("../images/book.svg");
  opacity: 0.2;
  position: absolute;
  right: 0;
  bottom: -5%;
}
@media screen and (max-width: 1024px) {
  .privacy-box {
    padding-bottom: 150px;
  }
}

.m-page-menu {
  display: none;
  width: 100%;
  max-width: calc(100% - 60px);
  font-size: 16px;
  padding: 14px;
  background: #f6bc47;
  color: #000;
  margin: 0px auto 55px;
  position: relative;
}
.m-page-menu .fas {
  right: 12px;
  top: 18px;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .m-page-menu {
    display: block;
  }
  .m-page-menu + .nav-class {
    display: none;
    width: 95%;
    max-width: calc(100% - 60px);
    border-left: 0;
    border-right: 0;
    margin: -55px auto 55px;
  }
  .m-page-menu + .nav-class li.active a {
    color: #fff;
    background: #364e27;
  }
  .m-page-menu + .nav-class a {
    padding: 14px 20px;
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    background: #f1f1f1;
    font-size: 14px;
    color: #444;
    display: block;
  }
  .m-page-menu + .service-menu {
    display: none;
    width: 100%;
    border-left: 0;
    border-right: 0;
    margin: -55px auto 55px;
  }
  .m-page-menu + .service-menu a {
    padding: 14px 20px;
    border-bottom: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    background: #f1f1f1;
    font-size: 14px;
  }
  .m-page-menu + .service-menu a.active {
    background: #364e27;
    color: #fff;
  }
}

.placard {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  display: none;
}
.placard-y {
  overflow-y: auto;
  background: #fff;
  max-height: 80vh;
}
.placard-content {
  max-width: 1000px;
  width: 90%;
  position: relative;
  max-height: 80%;
  background: transparent;
}
.placard .user_editor {
  padding: 20px;
}
.placard-close {
  position: absolute;
  right: -19px;
  top: -19px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f6bc47;
  text-align: center;
  line-height: 35px;
  color: #364e27;
  cursor: pointer;
display: inline-flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.placard-close:hover {
  background: #364e27;
  color: #f6bc47;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.placard figure {
  padding: 0;
  margin: 0;
}
.placard figure a:hover {
  opacity: 0.9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (max-width: 600px) {
  .placard-close {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.search-result {
  text-align: center;
  display: block;
  font-size: 28px;
  color: #364e27;
}
.search-text {
  background: #fff5cf;
  padding: 20px;
  text-align: center;
  margin: 30px auto -20px;
}
.search-text span {
  color: #364e27;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .search-text {
    margin: 30px auto;
  }
}
/*# sourceMappingURL=master.css.map */