@charset "utf-8";

/* CSS Document */
.input-style {
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    color: #333;
    background: #fff;
    border: 1px solid #B1B1B1;
    border-radius: 3px;
}

.input-style02 {
    display: inline-block;
    padding: 6px 10px;
    font-size: 14px;
    color: #333;
    background: #fff;
    border: 1px solid #B1B1B1;
    border-radius: 0px;
    vertical-align: middle;
    min-width: 210px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* -表單-------------------------------------------------------------------------------------------------------*/
.styled-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0;
    list-style: none;
}

.styled-input li {
    position: relative;
    width: 100%;
    margin: 55px 0px 0px 0px;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #666;
    background: none;
}

.styled-input li.half {
    width: calc(50% - 20px);
}

.styled-input input[type="text"],
.styled-input input[type="tel"],
.styled-input input[type="email"],
.styled-input input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 105px;
    color: #666;
    background-color: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #CACACA;

    border-radius: 0;
    -webkit-appearance: none;
    line-height: 30px;

}

.styled-input textarea {
    width: 100%;
    padding: 20px 15px;
    height: 10px;
    color: #666;
    background-color: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #CACACA;

    border-radius: 0;
    -webkit-appearance: none;

}

.styled-input input[type="text"].active,
.styled-input input[type="email"].active,
.styled-input textarea.active {
    padding: 10px 10px 25px 150px;
}

.styled-input textarea {
    resize: none;
    height: 150px;
    display: block;
}

.styled-input input[type="text"]:focus,
.styled-input input[type="email"]:focus {
    border-bottom: 1px solid #537cc4;
    transition: 0.4s;
}

.styled-input textarea:focus {
    border:1px solid #002063;
    transition: 0.4s;
}

.styled-input .label {
    width: 100%;
    font-size: 18px;
    color: #222;
    padding: 0px 0px 10px 0px;
}

.styled-input label {
    position: absolute;
    font-size: 18px;
    color: #222;
    top: 10px;
    left: 0px;
    display: inline-block;
    min-width: 85px;
    text-align-last: justify;
    line-height: 30px;
}

.styled-input label:after {
    content: '';
    display: block;
    width: 85px;
    height: 1px;
    background: #222;
    position: absolute;
    bottom: -11px;
}

.styled-input label.active {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
}

.styled-input label,
.styled-input label.active {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.styled-input ::-webkit-input-placeholder {
    font-size: 16px;
    color: #131313;
}

.styled-input ::-moz-placeholder {
    color: #888;
}

.styled-input :-ms-input-placeholder {
    color: #888;
}

.styled-input :-moz-placeholder {
    color: #888;
}

.styled-input .code {
    padding: 0 0 0 0px;
    display: flex;
    align-items: center;
}

.styled-input .code .refresh img {
    width: 25px;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
    .styled-input li.half {
        width: 100%;
    }




}

.styled-input02 {
    margin: 30px 0px 30px 0px;
    list-style: none;
    font-size: 0;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .styled-input label {
        top: -20px;
        left: 0px;
    }

    .styled-input .label {
        padding: 0px 0px 10px 0px;
    }

    .styled-input input[type="text"],
    .styled-input input[type="tel"],
    .styled-input input[type="email"],
    .styled-input input[type="password"] {
        padding: 20px 10px 20px 0px;
        height: 40px;
    }
    .styled-input label{
    	    text-align-last: inherit;
    }
    .styled-input label:after{
    	display: none;
    }
}

.styled-input02 dd {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0;
    list-style: none;
    color: #666;
    background: none;
    display: inline-block;
    vertical-align: middle;
}

.styled-input02 dd a {
    color: #bc2d41;
    font-weight: bold;
}

.styled-input02 dd.half {
    margin-right: 30px;
}

.styled-input02 dd.btn {
    width: 120px;
}

.styled-input02 input[type="text"] {
    width: 200px;
    max-width: 100%;
    padding: 0px 15px;
    font-size: 16px;
    color: #353535;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #B1B1B1;
    display: inline-block;
    vertical-align: middle;
    line-height: 42px;
    border-radius: 3px
}

.styled-input02 label {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #002063;
    padding-right: 4px;
}

.styled-input02 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 3px;
    padding: 12px 15px;
    font-size: 16px;
    background: url("../images/select-arrow.svg") no-repeat 92% center transparent;
    border-color: #b1b1b1;
}

.date-box {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin-right: 10px;
    padding: 0 5px;
    box-sizing: border-box;
}

.date-box:last-child {
    margin-right: 0;
}

/*@media only screen and (min-width: 1201px) and (max-width: 1700px) {
    .styled-input02 {
        padding: 0 20% 0 0;
    }
}*/

@media only screen and (min-width: 0px) and (max-width: 1200px) {
    .styled-input02 {
        padding: 0 0 0 0;
    }

    .styled-input02 dd {
        margin: 10px 0px 0px 0px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {}

@media only screen and (min-width: 0px) and (max-width: 800px) {
    .styled-input02 dd.half {
        display: block;
    }

    .styled-input02 dd.half2 {
        display: inline-block;
    }

    .styled-input02 label {}

    .styled-input02 input[type="text"] {}

    .styled-input02 dd.half2 {
        display: inline-block;
    }

    .styled-input02 dd.btn {
        margin-left: 15px;
    }

    .map {
        margin-bottom: 100px;
    }

    .news-day-box .date-box {
        width: calc(50% - 52px);
    }

    .news-day-box .half2 input[type="text"] {
            width: calc(100% - 100px);
    }

    .news-day-box .styled-input02 dd.half2 {
        display: inline-block;
        width: calc(100% - 114px);
        margin-right: 0;
    }

    .news-day-box .styled-input02 dd.half {
        margin-right: 0;
    }

    .news-day-box .styled-input02 dd.btn {
        width: initial;
    }

    .news-day-box .styled-input02 label {
        width: initial;
    }


}

@media only screen and (min-width: 0px) and (max-width: 650px) {
    .styled-input02 {
        margin: 0 0 30px 0;
    }

    .styled-input02 input[type="text"] {}

    .styled-input02 label {
        width: 95px;
        padding: 0;

    }

    .styled-input02 label {
        font-weight: normal;
    }

    .date-box {
        width: calc(50% - 50px);
        margin-right: 5px;
    }

    .styled-input02 dd.half {
        margin-right: 0;

    }

    .styled-input02 dd.half2 {
        display: inline-block;
        width: initial;
    }

    .contact li .local:before {
        width: 15px;
        height: 26px;
    }

    .contact li .call:before {
        width: 18px;
        height: 18px;
    }

    .contact li .mail:before {
        width: 18px;
        height: 18px;
    }

    .contact li .local,
    .contact li .call,
    .contact li .mail {
        margin: 0 20px 0 0;
    }

    .map {
        margin-bottom: 80px;
    }

}

.styled-input03 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px 30px 0px;
    padding: 0 0 0 0;
    list-style: none;
    font-size: 0;
}

.styled-input03 dd {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0;
    list-style: none;
    color: #666;
    background: none;
    font-size: 0;
}

.styled-input03 dd.btn {
    margin: 0px 0px 0px 30px;
}

.styled-input03 label {

    font-size: 18px;
    font-weight: bold;
    color: #53575A;
    padding-right: 4px;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (min-width: 0px) and (max-width: 650px) {
    .styled-input03 {
        margin: 0 0 30px 0;
    }

    .styled-input03 dd {

        display: inline-block;
        vertical-align: middle;
    }

    .styled-input03 dd.btn {
        margin: 0;
        margin-left: 20px;
    }

    .styled-input03 dd select {
        background-color: transparent;
    }

    .styled-input03 label {

        font-weight: normal;
    }

}

@media only screen and (min-width: 0px) and (max-width: 500px) {

    .input-style02 {
        width: 148px;
        min-width: inherit;

    }

    .styled-input03 dd.btn {
        margin: 0;
        margin-left: 10px;
    }

    button.slide {
        font-size: 14px;
        padding: 8px 8px;
    }

    .styled-input02 dd.btn {
        width: initial;
    }

    .styled-input02 dd.half2 {
        margin-left: 0;
        width: calc(100% - 82px);
    }

    .styled-input02 dd.half2 input[type="text"] {
        width: calc(100% - 95px);
    }

    .contact li {
        font-size: 14px;
    }

    .news-day-box .styled-input02 dd.half2 {
        width: calc(100% - 82px);
    }

    .news-day-box .styled-input02 dd.half2 input[type="text"] {
        width: calc(100% - 72px);
    }

}